<div class="header">
    <div class="logo">
        <img src="../../assets/group.svg" alt="logo" class="logo-image" />
    </div>
    <div class="tyro">
        <p>tyro</p>
    </div>
    <div class="line">
    </div>
    <div class="greet">
        <p>Good evening</p>
    </div>
    <div class="notification">
        <img src="../../assets/bell.svg" alt="bell">
    </div>
    <div class="wishlist">
        <img src="../../assets/wish-list.svg " alt="wish-list">
    </div>
    <div class="newpost">
        <button class="btn btn-primary" type="submit" (click)="toNewPost()"><p>NEW POST</p></button>
    </div>
    <div class="profile-picture">
        <img class="profile" src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="profile-image">
    </div>
</div>